<html>
<head>
<title>{{ template "title" . }}</title>
<link href='/static/style.css' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/boost-canvas.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="/static/script.js"></script>
<link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
<nav class="navbar">
<a href='/datasets/' class="navbar link">Datasets</a>
<a href='/tasks/' class="navbar link">Tasks</a></li>
<a href='/about/' class="navbar link">About</a></li>
<div class='searchbar'>
<form method='post' action='/search/'>
<input type='text' name='searchtag' style='height:auto' class='ui-widget ui-widget-content ui-corner-all'/>
<input id='searchbutton' type='submit' value='Search' class="ui-button ui-widget ui-corner-all"/>
</form>
</div>
</nav>
<div id='main'>
{{ template "body" . }}
</div>
<footer>
<div class='copyright'>
<hr/>
Copyright &copy;	2017
</div>
</footer>
</body>
</html>
