<html>
		<head>
				<title>{{ template "title" . }}</title>
				<link href='/static/style.css' rel='stylesheet' type='text/css'/>
		</head>
		<body>
				<nav class="navbar">
						<a href='/datasets/' class="navbar link">Datasets</a>
						<a href='/tasks/' class="navbar link">Tasks</a></li>
						<a href='/about/' class="navbar link">About</a></li>
				</nav>
				<div id='main'>
				{{ template "body" . }}
				</div>
				<footer>
								<div class='copyright'>
								<hr/>
								Copyright &copy;	2017
								</div>
				</footer>
		</body>
</html>
