{{ define "title" }}Dataset Coordinates{{ end }}
{{ define "body" }}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<pre id='coordinates' hidden>
{{ $.Coordinates }}
</pre>

<pre id='labels' hidden>
{{ $.Labels }}
</pre>

<label for='select'>Color by:</label>

<select id='select' onchange='colorizePoints(this)'>
<option value='none'>Default</option>
{{ range $k, $v:= $.Operators }}
{{ range $j, $s:= $v.Scores }}
<option value='{{$s.ID}}'>{{$v.Name}} </option>
{{ end }}
{{ end }}
</select>
<div id="container" style="height: 800px"></div>

<script>
var chart;
var data;
var scores;
create3DScatterPlot("coordinates", "labels", "container");

</script>
{{ end }}

{{ template "base.html" . }}
