{{ define "title" }} {{ $.Name }} SM Heatmap{{ end }}
{{ define "body" }}
<h1>Similarity Matrix Heatmap</h1>
<div id='container'>
<div class='heatmap'>
</div>
</div>
<script>
var itemSize = 8,
    cellSize = itemSize,
	margin = {top: 80, right: 10, bottom: 20, left: 150};
      
var width = 1000 - margin.right - margin.left,
	height = 1000 - margin.top - margin.bottom;
var smID = "/sm/"+window.location.pathname.split("/")[2]+"/csv/";
createHeatMap(smID, "");
</script>
{{ end }}

{{ template "base.html" . }}
